a{
    color: crimson;
    text-decoration: none;
    font-weight: bold;
    border: black 1px solid;
    padding: 10px;
    border-radius: 45px;
}

a:hover{
    color: darkmagenta;
    text-decoration: underline;
}