#circle{
    width: 400px;
    height: 400px;
    position: absolute;
    background: yellow;
    border-radius: 200px;
    top: 50px;
    left:50px;
    opacity: 1;
    text-align: center;
}

#circle-2{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(131, 25, 30, 0.7);
    border-radius: 200px;
    top: 250px;
    left:150px;
   
    text-align: center;
}

#circle-3{
    width: 400px;
    height: 400px;
    position: absolute;
    background: rgba(2, 0, 136, 0.2);
    border-radius: 200px;
    top: 50px;
    left:250px;
    
    text-align: center;
}