.static-width {
    width: 300px;
    height: 100px;
    background-color: yellow;
    background-image: url(http://placekitten.com/g/200/300);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 900px;
}